# Workaround https://stackoverflow.com/questions/73105877/importerror-cannot-import-name-parse-rule-from-werkzeug-routing
werkzeug==2.1.2
flask==2.1.2

rasa==2.8.7
flask_restx==1.0.3
waitress==2.1.2

